<div class="container mt-5 text-right">
    <h1>HemoHearth</h1>
    <div style="position:right ; color: #338AFF">
      <h4>En HemoHearth trabajamos por tu salud</h4>
  </div>
  
  <div class="row mt-5">
    <div *ngIf="showAlertNotification" class="alert alert-success" role="alert">
      Guardado exitosamente!
    </div>
    <form [formGroup]="profileForm" (ngSubmit)="onSubmit($event)">
      <div class="form-floating mb-3">
        <input id="desc" class="form-control" placeholder="Nombre" type="text" formControlName="firstName" />
        <label for="desc"> Nombre</label>
      </div>
  
      <div class="form-floating mb-3">
        <input class="form-control" placeholder="Apellido" type="text" formControlName="lastName"/>
        <label for="desc"> Apellido</label>
      </div>
      <div class="form-floating mb-3">
        <input id="desc" class="form-control" placeholder="Cedula" type="number" formControlName="document" />
        <label for="desc"> Cedula</label>
      </div>
  
      <div class="form-floating mb-3">
        <input id="desc" class="form-control" placeholder="Cedula" type="number"formControlName="edad" />
        <label for="desc"> Edad</label>
      </div>
      <div class="form-floating mb-3">
        <input class="form-control" placeholder="correo" type="text" formControlName="correoElectronico"/>
        <label for="desc"> Correo Electronico</label>
      </div>

      <div>
        <label for="desc"> Sexo</label>
        <select class="form-select" aria-label="nivel" formControlName="sexo">
          <option selected>sexo</option>
          <option value="1">F</option>
          <option value="2">M</option>
        </select>
        </div>
        <br>
      
          <div>
            <label for="desc"> Nivel de Hemoglobina</label>
            <select class="form-select" aria-label="nivel" formControlName="hemo" (change)="anemia($event)">
              <option selected>seleccione su nivel de Hemoglobina</option>
              <option value="1">13.0%-26.0%g</option>
              <option value="2">10.0%-18.0%g</option>
              <option value="3">11.0%-15.0%g</option>
              <option value="4">11.5%-15.0%g</option>
              <option value="5">12.6%-15.5%g</option>
              <option value="6">12.0%-16.0%g</option>
              <option value="7">14.0%-18.0%g</option>
            </select>
          </div>
            <br>
            
            <div *ngIf="showAlerta" class="alert alert-danger" role="alert" >
              {{showAlerta}}
            </div>
          <div class="row d-flex justify-content-center">
            <button type="submit" class="btn btn-success col-md-4   "><h3>Enviar</h3></button>
           <button class="btn btn-primary mx-2 col">Modificar</button> 
          </div>
        </form>
         
      </div>
      <div class="my-5"></div>
      </div> 
     
            
          


      