<div class="container mt-5 text-right">
  <h1>HemoHearth</h1>
  <div style="position:right ; color: #338AFF">
    <h4>En HemoHearth trabajamos por tu salud</h4>
</div>

  <div class="row mt-5">
    <ng-template #sinarticulos><p>No hay articulos.</p></ng-template>

    <div class="form-floating mb-3">
      <input id="desc" class="form-control" placeholder="Nombre" type="text" />
      <label for="desc"> Nombre</label>
    </div>

    <div class="form-floating mb-3">
      <input class="form-control" placeholder="Apellido" type="number" />
      <label for="desc"> Apellido</label>
    </div>

    <div class="form-floating mb-3">
      <input id="desc" class="form-control" placeholder="Cedula" type="text" />
      <label for="desc"> Cedula</label>
    </div>

    <div class="form-floating mb-3">
      <input class="form-control" placeholder="EPS" type="number" />
      <label for="desc"> EPS</label>
    </div>

    <div class="row">
      <h3 class="my-4">De acuerdo a los siguientes sintomas, ¿Cuales ha presentado? </h3>

      <div class="col">
        <div class="form-check">
          <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
          <label class="form-check-label" for="flexRadioDefault1">
            Cuadro neurovegetativo
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
          <label class="form-check-label" for="flexRadioDefault2">
            Transtornos de conciencia
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
          <label class="form-check-label" for="flexRadioDefault2">
            Signos de deshidratacion
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
          <label class="form-check-label" for="flexRadioDefault2">
            Sepsis
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
          <label class="form-check-label" for="flexRadioDefault2">
            Patologias agudas cardiovascular neurológica
          </label>
        </div>
      </div>
    </div>
    <div class="row d-flex justify-content-center">
      <button class="btn btn-success col-md-4   "><h3>Enviar</h3></button>
     <button class="btn btn-primary mx-2 col">Modificar</button> 
    </div>
</div>
<div class="my-5"></div>
</div> 
