<div class="container mt-5 text-right">
  <h1>HemoHearth</h1>
  <div style="position:right ; color: #338AFF">
    <h4>En HemoHearth trabajamos por tu salud</h4>
  </div>

  <div class="row mt-5">
    <div *ngIf="showAlertNotification" class="alert alert-success" role="alert">
      Guardado exitosamente!
    </div>
    <form [formGroup]="profileForm" (ngSubmit)="onSubmit($event)">
      <div class="form-floating mb-3">
        <input id="desc" class="form-control" placeholder="Nombre" type="text" formControlName="firstName" />
        <label for="desc"> Nombre</label>
      </div>

      <div class="form-floating mb-3">
        <input class="form-control" placeholder="Apellido" type="text"  formControlName="lastName"/>
        <label for="desc"> Apellido</label>
      </div>

      <div class="form-floating mb-3">
        <input id="desc" class="form-control" placeholder="Cedula" type="number" formControlName="document" />
        <label for="desc"> Cedula</label>
      </div>

      <div class="form-floating mb-3">
        <input class="form-control" placeholder="EPS" type="text" formControlName="eps" />
        <label for="desc"> EPS</label>
      </div>
      <div class="row">
        <h3 class="my-4">De acuerdo a los siguientes sintomas, ¿Cuales ha presentado? </h3>

        <div class="col">
          <div class="form-check form-switch">
            <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault" formControlName="sintomaA">
             <label class="form-check-label" for="flexSwitchCheckDefault">Cuadro neurovegetativo</label>
          </div>
          <div class="form-check form-switch">
            <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault" formControlName="sintomaB">
             <label class="form-check-label" for="flexSwitchCheckDefault">Transtornos de conciencia</label>
          </div>
          <div class="form-check form-switch">
            <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault" formControlName="sintomaC">
             <label class="form-check-label" for="flexSwitchCheckDefault">Signos de deshidratacion</label>
          </div>
          <div class="form-check form-switch">
            <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault" formControlName="sintomaD">
             <label class="form-check-label" for="flexSwitchCheckDefault">Sepsis</label>
          </div>
          <div class="form-check form-switch">
            <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault" formControlName="sintomaE">
             <label class="form-check-label" for="flexSwitchCheckDefault">Patologias agudas cardiovascular neurológica</label>
          </div>
        </div>
      </div>

      <div *ngIf="showGlucemia" class="form-floating mb-3">
        <input id="desc" class="form-control" placeholder="glucemia" type="number" (change)="message($event)" />
        <label for="desc"> Nivel de glucemia</label>
      </div>
      <div *ngIf="showAlerta" class="alert alert-danger" role="alert">
        {{showAlerta}}
      </div>
      <div class="row d-flex justify-content-center">
        <button type="submit" class="btn btn-success col-md-4   ">
          <h3>Enviar</h3>
        </button>
        <button class="btn btn-primary mx-2 col">Modificar</button>
      </div>
    </form>

  </div>
  <div class="my-5"></div>
</div>


<!-- <div  class="modal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <!-- <div class="modal-body">
        <p>Modal body text goes here.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" (click) = "saveGlucosa()">Save changes</button>
      </div>
    </div>
  </div>
</div> --> -->
